:root {
  --dark-blue: hsl(240, 38%, 20%);
  --gray-blue: hsl(240, 18%, 77%);
  --primary-font: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-blue);
  background-image: url('../assets/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

main {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.container {
  max-width: 340px;
  width: 100%;
  margin: 2rem auto 0 auto;
}

.container ul {
  position: relative;
}

.testimonial__img {
  background-image: url('../assets/images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-position: center 37px;
  background-size: contain;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img img {
  width: 270px;
  margin: 0 auto;
  box-shadow: 0 20px 50px var(--gray-blue);
}

.testimonial__body {
  background-image: url('../assets/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position: center -40px;
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.testimonial__quote {
  font-weight: 300;
  line-height: 1.5;
}

.testimonial__byline {
  margin-top: 2rem;
  font-size: 1rem;
}

.author {
  font-weight: 700;
}

.title {
  color: var(--gray-blue);
}

.slider-control {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: white;
  width: 100px;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* Centering to container > ul */
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

#prev, #next {
  cursor: pointer;
}

.hide {
  display: none;
}

.disable {
  opacity: .3;
}

.fm-attribution-row {
  margin-top: 5rem;
  padding-bottom: 1.5rem;
}

.fm-attribution {
  font-size: .75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-attribution,
.fm-attribution a {
  color: hsl(228, 45%, 44%);
}