:root {
  --dark-blue: hsl(240, 38%, 20%);
  --gray-blue: hsl(240, 18%, 77%);
  --primary-font: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  font-size: 2rem;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

#prev, #next {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fm-attribution {
  font-size: .75rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.fm-attribution,
.fm-attribution a {
  color: hsl(228, 45%, 44%);
}